  development:
    FACEBOOK_AD_APP_TOKEN:
    FACEBOOK_AD_APP_SECRET:
    FACEBOOK_APP_ID:
    FACEBOOK_APP_SECRET:
    GOOGLE_APP_ID:
    GOOGLE_APP_SECRET:
    AMAZON_APP_ID:
    AMAZON_APP_SECRET:
  test:
    FACEBOOK_APP_ID:
    FACEBOOK_APP_SECRET:
    GOOGLE_APP_ID:
    GOOGLE_APP_SECRET:
    AMAZON_APP_ID:
    AMAZON_APP_SECRET:
  production:
    secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
